// Universal Storage Localization

Localization
{
	// English
	en-us
	{
	// Used for multiple parts
		#autoLOC_US_Part_Manufacturer = New Horizons & Nox Industrial
		#autoLOC_US_Part_Appearance = Appearance
		#autoLOC_US_Part_Decounple = Decouple
		#autoLOC_US_Part_Height = Height
		#autoLOC_US_Part_SingleHeight = Single height
		#autoLOC_US_Part_DoubleHeight = Double height
		#autoLOC_US_Part_TripleHeight = Triple height
		#autoLOC_US_Part_QuadHeight = Quad height
		#autoLOC_US_Part_ToggleDetails = Toggle Details
		
		
		
	// Coupling
		// ACDLarge	
			#autoLOC_US_Part_ACDLarge_Title = Universal Storage: ACD (2.5m)
			#autoLOC_US_Part_ACDLarge_Tags = Universal Storage Decoupler Stack Separator Reaction Wheel
			#autoLOC_US_Part_ACDLarge_Description = The Attitude Control Decoupler combines a stack separator and in-line stabilizer to provide staging and reaction wheel systems in a single, low weight package with an access void for crew transfer.  Available in Apollo, Gemini and Portkjet inspired color schemes.
			
		// ACDMedium
			#autoLOC_US_Part_ACDMedium_Title = Universal Storage: ACD (1.875m)
			#autoLOC_US_Part_ACDMedium_Tags = Universal Storage Decoupler Stack Separator Reaction Wheel
			#autoLOC_US_Part_ACDMedium_Description = The Attitude Control Decoupler combines a stack separator and in-line stabilizer to provide staging and reaction wheel systems in a single, low weight package with an access void for crew transfer. Available in Apollo, Gemini and Porkjet inspired color schemes.

		// ADCSmall
			#autoLOC_US_Part_ACDSmall_Title = Universal Storage: ACD (1.25m)
			#autoLOC_US_Part_ACDSmall_Tags = Universal Storage Decoupler Stack Separator Reaction Wheel
			#autoLOC_US_Part_ACDSmall_Description = The Attitude Control Decoupler combines a stack separator and in-line stabilizer to provide staging and reaction wheel systems in a single, low weight package.  Available in Apollo, Gemini and Portkjet inspired color schemes.
		
		// ADCTiny
			#autoLOC_US_Part_ACDTiny_Title = Universal Storage: ACD (0.625m)
			#autoLOC_US_Part_ACDTiny_Tags = Universal Storage Decoupler Stack Separator Reaction Wheel
			#autoLOC_US_Part_ACDTiny_Description = The Attitude Control Decoupler combines a stack separator and in-line stabilizer to provide staging and reaction wheel systems in a single, low weight package.  Available in Apollo, Gemini and Porkjet inspired color schemes.
	
	
	
	// Electrical
		// BatteryWedge
			#autoLOC_US_Part_BatteryWedge_Title = Universal Storage: Battery
			#autoLOC_US_Part_BatteryWedge_Tags = Universal Storage Wedge BatteryUniversal Storage Decoupler Stack Separator Reaction Wheel
			#autoLOC_US_Part_BatteryWedge_Description = Rechargeable battery built in wedge format to be mounted to Universal Storage cores.  Bi-directional power lines allow recharging in-situ, or the entire wedge can be removed on EVA and placed with new equipment or storage.  Four size variants are available.
			
		// FuelCell Both	
			#autoLOC_US_Part_FuelCell = Fuel Cell
			#autoLOC_US_Part_StartFuelCell = Start Fuel Cell
			#autoLOC_US_Part_StopFuelCell =	Stop Fuel Cell
			#autoLOC_US_Part_ToggleFuelCell = Toggle Fuel Cell
				
			// FuelCellMedium
				#autoLOC_US_Part_FuelCellMedium_Title = Universal Storage: Alkaline Fuel Cell
				#autoLOC_US_Part_FuelCellMedium_Tags = Universal Storage Electrical Fuel Cell Fuelcell Alkaline Apollo
				#autoLOC_US_Part_FuelCellMedium_Description = The alkaline fuel cell is a fully self-contained generation unit. Reaching up to 70% operational efficiency, it is the ideal generator for a quick weekend moonshot.
				
			// FuelCellSmall
				#autoLOC_US_Part_FuelCellSmall_Title = Universal Storage: PEM Fuel Cell
				#autoLOC_US_Part_FuelCellSmall_Tags = Universal Storage Electrical Fuel Cell Fuelcell PEM Gemini
				#autoLOC_US_Part_FuelCellSmall_Description = An early development in generation technology, the Proton-exchange membrane fuel cell boasts an impressive efficiency rating of 50%. Please refrain from touching the heat-sinks.
			
		// RTGWedge
			#autoLOC_US_Part_RTGWedge_Title = Universal Storage: Radioisotope Thermoelectric Generator
			#autoLOC_US_Part_RTGWedge_Tags = Universal Storage Electrical RTG Generator Radioactivity
			#autoLOC_US_Part_RTGWedge_Description = Long term / low power generation via radioactive decay in a double height wedge casing.  Used in environments where solar power is unavailable or the craft is too far from the star.  Generates waste heat which must be managed to ensure operation.
	
	
	
	// Control	
		// GuidanceComputer
			#autoLOC_US_Part_GuidanceComputer_Title = Universal Storage: Guidance Computer
			#autoLOC_US_Part_GuidanceComputer_Tags = Universal Storage Wedge DSKY Guidance Computer
			#autoLOC_US_Part_GuidanceComputer_Description = A top of the line, 2MHz digital computer. While best utilized to experience the pinnacle of next-gen gaming; the KSC would rather you use this workhorse to plot your way to the stars. Features pre-woven memory and a convenient carry handle.

	
	
	// Fuel Tank
		// AerozineWedge
			#autoLOC_US_Part_AerozineWedge_Title = Universal Storage: Liquid Fuel Tank
			#autoLOC_US_Part_AerozineWedge_Tags = Universal Storage Wedge Liquid Fuel Aerozine
			#autoLOC_US_Part_AerozineWedge_Description = Liquid fuel and oxidizer tanks built in wedge format to be mounted to Universal Storage cores.  LF+OX may be refueled via lines, or the entire wedge can be removed on EVA and placed with new equipment or storage.  Four size variants are available.
		
		// AerozineWedge
			#autoLOC_US_Part_HydrazineWedge_Title = Universal Storage: Monopropellant Tank
			#autoLOC_US_Part_HydrazineWedge_Tags = Universal Storage Wedge Monoprop Hydrazine
			#autoLOC_US_Part_HydrazineWedge_Description = Monopropellant tanks built in wedge format to be mounted to Universal Storage cores.  Monopropellant may be refueled via lines, or the entire wedge can be removed on EVA and placed with new equipment or storage.  Four size variants are available.
		
		// HydrogenWedge
			#autoLOC_US_Part_HydrogenWedge_Title = Universal Storage: Hydrogen Tank
			#autoLOC_US_Part_HydrogenWedge_Tags = Universal Storage Wedge Cryogenic Hydrogen
			#autoLOC_US_Part_HydrogenWedge_Description = Hydrogen resource storage, built in wedge format to be mounted to Universal Storage cores.  Hydrogen is stored cryogenically and this wedge contains insulated storage as well as cryogenic equipment and safety systems.  The Hydrogen bottles may be refueled via lines, or the entire wedge can be removed on EVA and placed with new equipment or storage.  Four size variants are available.
			
		// OxygenWedge
			#autoLOC_US_Part_OxygenWedge_Title = Universal Storage: Oxygen tank
			#autoLOC_US_Part_OxygenWedge_Tags = Universal Storage Wedge Cryogenic Oxygen
			#autoLOC_US_Part_OxygenWedge_Description = Oxygen resource storage, built in wedge format to be mounted to Universal Storage cores.  Oxygen is stored cryogenically and this wedge contains insulated storage as well as cryogenic equipment and safety systems.  The oxygen bottles may be refueled via lines, or the entire wedge can be removed on EVA and placed with new equipment or storage.  Four size variants are available.
			
	
	// Utility
		//FoodWadge
			#autoLOC_US_Part_FoodWedge_Title = Universal Storage: Food Bag
			#autoLOC_US_Part_FoodWedge_Tags = Universal Storage Wedge Supply Food TAC Life Support
			#autoLOC_US_Part_FoodWedge_Description = Food supply package built in wedge format to be mounted to Universal Storage cores. The entire wedge can be removed on EVA and placed with new equipment or storage.  Four size variants are available.

			//FoodWadge [Kerbalism]
				#autoLOC_US_Part_FoodWedgeKerbalism_Tags = Universal Storage Wedge Supply Food Kerbalism
			
			//FoodWadge [Snacks!]
				#autoLOC_US_Part_FoodWedgeSnacks_Title = Universal Storage: Snack package
				#autoLOC_US_Part_FoodWedgeSnacks_Tags = Universal Storage Wedge Supply Snacks
				#autoLOC_US_Part_FoodWedgeSnacks_Description = Snacks tin built in wedge format to be mounted to Universal Storage cores. The entire wedge can be removed on EVA and placed with new equipment or storage.  Four size variants are available.
				
			//FoodWadge [USI LS]
				#autoLOC_US_Part_FoodWedgeUSI_Title = Universal Storage: Life support supply bag
				#autoLOC_US_Part_FoodWedgeUSI_Tags = Universal Storage Wedge Supplies Supply USI Life Support
				#autoLOC_US_Part_FoodWedgeUSI_Description = Food supply package built in wedge format to be mounted to Universal Storage cores. The entire wedge can be removed on EVA and placed with new equipment or storage.  Four size variants are available.
			
		//WaterWadge
			#autoLOC_US_Part_WaterWedge_Title = Universal Storage: Water Tank
			#autoLOC_US_Part_WaterWedge_Tags = Universal Storage Wedge Water
			#autoLOC_US_Part_WaterWedge_Description = Water tank, built in wedge format to be mounted to Universal Storage cores. The water tank may be refueled via lines, or the entire wedge can be removed on EVA and placed with new equipment or storage.  Four size variants are available.
			
			//WaterWadge [Kerbalism]
				#autoLOC_US_Part_WaterWedgeKerbalism_Tags = Universal Storage Wedge Water Kerbalism
			
			//WaterWadge [TAC LS]
				#autoLOC_US_Part_WaterWedgeTAC_Tags = Universal Storage Wedge SWater TAC Life Support
				
		//Elektron
			#autoLOC_US_Part_Elektron_Title = Universal Storage: Elektron
			#autoLOC_US_Part_Elektron_Tags = Universal Storage Processor Electrolysis Elektron
			#autoLOC_US_Part_Elektron_Description = This complex electrolyzer splits water into oxygen and hydrogen with large amounts of electricity. Featuring a chassis originally built for high pressure fumigation equipment, the Elektron has proven itself apt at both sustaining and destroying little green crawling things.	
			
			#autoLOC_US_Part_Electrolysis = Electrolysis unit
			#autoLOC_US_Part_StartElectrolysis = Start Electrolysis
			#autoLOC_US_Part_StopElectrolysis =	Stop Electrolysis
			#autoLOC_US_Part_ToggleElectrolysis = Toggle Electrolysis	
				
		//Sabatier
			#autoLOC_US_Part_Sabatier_Title = Universal Storage: Sabatier reactor
			#autoLOC_US_Part_Sabatier_Tags = Universal Storage Processor Sabatier TAC Life Support
			#autoLOC_US_Part_Sabatier_Description = The Sabatier unit uses large amounts of electricity to convert Carbon Dioxide and Hydrogen into Liquid Fuel and Water.  The reactor generates large amounts of heat and cooling radiators are recommended.		
			
			//Sabatier [Kerbalism]
				#autoLOC_US_Part_SabatierKerbalism_Tags = Universal Storage Processor Sabatier Kerbalism
				
		//WaterPurifier
			#autoLOC_US_Part_WaterPurifier_Title = Universal Storage: Water Purifier
			#autoLOC_US_Part_WaterPurifier_Tags = Universal Storage Processor Water Purifier TAC Life Support
			#autoLOC_US_Part_WaterPurifier_Description = The water purifier unit uses a array of filters and a centrifuge distillation system to recycle gray water into pure, drinkable water, suitable for drinking or electrolysis. 
				
			//Sabatier [Kerbalism]
				#autoLOC_US_Part_WaterPurifier_Tags = Universal Storage Processor Water Purifier Kerbalism
				
			//WaterPurifier [USI LS]
				#autoLOC_US_Part_WaterPurifierUSI_Title = Universal Storage: Recycling Module
				#autoLOC_US_Part_WaterPurifierUSI_Tags = Universal Storage Wedge Recycling USI Life Support
				#autoLOC_US_Part_WaterPurifierUSI_Description = Life support recycling system designed to extend the mission time on a set supply budget.  Will reduce the supply usage by 50% for 1 Kerbal.
				
				#autoLOC_US_Part_StartLifeSupport = Start Life Support
				#autoLOC_US_Part_StopLifeSupport = Stop Life Support
		
		//WaterPurifier
			#autoLOC_US_Part_RadialTanks_Title = Universal Storage: Radial Tank
			#autoLOC_US_Part_RadialTanks_Tags = Universal Storage Fuel Lifesupport Radial
			#autoLOC_US_Part_RadialTanks_Description = A small tank useful for landers, rovers, or ships that aren't outfitted with wedge mounting equipment.
						
				
				
	}
	
}